/* Importing Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

:root {
  /* Primary Colors */
  --clr-Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutrals */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  /* For Font Family */
  --font-family-default: "Ubuntu";

  /*For Font Weights */
  --font-wght-regular: 400;
  --font-wght-medium: 500;
  --font-wght-bold: 700;
}
/*Custome Default size to Border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For Body  setting custom default values*/
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-size: 1.3rem;
  min-height: 100vw;

  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  background-color: var(--Magnolia);
}

/* For mobile screens */

/* Grid for overall */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* For header */
.head {
  margin-top: 1rem;
  text-align: center;
  color: var(--White);
}

/* Child 1 */
.head :nth-child(1) {
  grid-column-start: 3;
  grid-column-end: 4;

  font-size: 1.2rem;
  padding-top: 2px;
  /* font-weight: var(--font-wght-regular); */

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  /* Hover on child1 Currently */
  background-color: var(--Light-blue);
  color: var(--clr-Marine-blue);
  cursor: pointer;
  font-weight: var(--font-wght-bold);
  border: transparent;
}

/* Child 2 */
.head :nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;

  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: var(--font-wght-regular);

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/* Hover on child2 */
.head :nth-child(2):hover {
  background-color: var(--Light-blue);
  color: var(--clr-Marine-blue);
  cursor: pointer;
  border: transparent;
  font-weight: var(--font-wght-bold);
}

/* Child 3 */
.head :nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 6;

  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: var(--font-wght-regular);

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Hover on child3 */
.head :nth-child(3):hover {
  background-color: var(--Light-blue);
  color: var(--clr-Marine-blue);
  cursor: pointer;
  border: transparent;
  font-weight: var(--font-wght-bold);
}

/* Child 4 */
.head :nth-child(4) {
  grid-column-start: 6;
  grid-column-end: 7;

  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: var(--font-wght-regular);

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Hover on child4 */
.head :nth-child(4):hover {
  background-color: var(--Light-blue);
  color: var(--clr-Marine-blue);
  cursor: pointer;
  border: transparent;
  font-weight: var(--font-wght-bold);
}

/* For Main */
.main-container {
  margin-inline: 0.8rem;
  margin-top: 1.12rem;

  grid-column-start: 1;
  grid-column-end: 9;

  background-color: var(--White);
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* positioning all inner content  */
.display-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

/* ----STYLING FOR FIRST-PAGE (PERSONAL INFO) Started----------- */

.main-container h1 {
  color: var(--clr-Marine-blue);
  font-weight: var(--font-wght-bold);
  font-size: 2rem;
  margin-bottom: 0;
}

.main-container p {
  color: var(--Cool-gray);
  font-size: 1rem;
  width: 30ch;
  font-weight: var(--font-wght-regular);
}

/* Styling Form */
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--clr-Marine-blue);
  font-size: 0.9rem;
  font-weight: var(--font-wght-medium);
}

input {
  border: 1px solid var(--Light-gray);
  border-radius: 2px;
  padding: 0.5rem;
  padding-left: 0.9rem;
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
}

/* ----STYLING FOR FIRST-PAGE (PERSONAL INFO)  Ended----------- */

/* ---------------For Footer ---------------*/
footer {
  grid-column: 1/9;
  background-color: var(--Alabaster);
  box-sizing: border-box;
  margin-top: 12.5rem;
}
/* Positioning & Styling button */
.display-down {
  grid-column: 5/9;
  padding-block: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}
.btn-submit {
  /* grid-column: 5/9; */
  background-color: var(--clr-Marine-blue);
  color: var(--Alabaster);
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

/* For Desktop Screens */
@media screen and (min-width: 1440px) {
}
