/* Importing Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

:root {
  /* Primary Colors */
  --clr-Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutrals */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  /* For Font Family */
  --font-family-default: "Ubuntu";

  /*For Font Weights */
  --font-wght-regular: 400;
  --font-wght-medium: 500;
  --font-wght-bold: 700;
}
/*Custome Default size to Border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For Body  setting custom default values*/
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-size: 1.3rem;
  min-height: 100vw;

  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  background-color: var(--Magnolia);
}

/* For mobile screens */

/* Grid for overall */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* For header */
.head {
  margin-top: 1rem;
  text-align: center;
  color: var(--White);
}

/* Child 1 */
.head :nth-child(1) {
  grid-column-start: 3;
  grid-column-end: 4;

  font-size: 1.2rem;
  padding-top: 2px;
  /* font-weight: var(--font-wght-regular); */

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Child 2 */
.head :nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;

  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: var(--font-wght-regular);

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  /* Hover on child2 Currently */
  background-color: var(--Light-blue);
  color: var(--clr-Marine-blue);
  cursor: pointer;
  font-weight: var(--font-wght-bold);
  border: transparent;
}

/* Child 3 */
.head :nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 6;

  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: var(--font-wght-regular);

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Child 4 */
.head :nth-child(4) {
  grid-column-start: 6;
  grid-column-end: 7;

  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: var(--font-wght-regular);

  border: 1px solid var(--Light-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* For Main */
.main-container {
  margin-inline: 0.8rem;
  margin-top: 1.12rem;

  grid-column-start: 1;
  grid-column-end: 9;

  background-color: var(--White);
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* positioning all inner content  */
.display-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

/* ----STYLING FOR SECOND-PAGE (SELECT YOUR PLAN) Started----------- */

.main-container h1 {
  color: var(--clr-Marine-blue);
  font-weight: var(--font-wght-bold);
  font-size: 2rem;
  margin-bottom: 0;
}

.main-container p {
  color: var(--Cool-gray);
  font-size: 1rem;
  width: 30ch;
  font-weight: var(--font-wght-regular);
}

/* Styling Options */

/* Styling for all components inside button */
button {
  display: flex;
  align-items: center;

  border: 1px solid var(--Light-gray);
  border-radius: 5px;

  padding-block: 0.5rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: auto;
  column-gap: 1rem;

  font-size: 1rem;
  font-family: var(--font-family-default);

  margin-bottom: 0.5rem;
  width: 100%;
}
.selected-option {
  border: 1px solid var(--Purplish-blue);
}
button img {
  width: 40px;
  height: 40px;
}
/* Styling for each div inside each button */
.btn-style {
  padding-block: 1rem;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;

  font-weight: var(--font-wght-bold);
  color: var(--clr-Marine-blue);
}
span {
  font-size: 0.75rem;
  font-weight: var(--font-wght-medium);
  color: var(--Cool-gray);
}
.level {
  color: var(--clr-Marine-blue);
  font-weight: var(--font-wght-bold);
}
.trial {
  font-size: 0.7rem;
  color: var(--Purplish-blue);
}
/* Styling for div having class .check-opt */
.check-opt {
  font-size: 0.7rem;
  justify-content: space-between;
  align-items: center;

  column-gap: 0.4rem;
  margin: 1.5rem;
}
/* Positioning of all */

/* For Monthly */
.check-opt :nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
}
/* For Toggle Switch */
.check-opt :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.check-opt :nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
}

/* For Yearly */
.check-opt :nth-child(4) {
  grid-column-start: 6;
  grid-column-end: 7;
  color: var(--Cool-gray);
}
/* Styling For Toggle Switch */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: var(--clr-Marine-blue);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 15px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--clr-Marine-blue);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* label:active:after {
} */

/* ----STYLING FOR SECOND PAGE (SELECT YOUR PLAN - MONTHLY)  Ended----------- */

/* ---------------For Footer ---------------*/
footer {
  grid-column: 1/9;
  background-color: var(--Alabaster);
  box-sizing: border-box;
  margin-top: 4rem;
}
/* Positioning & Styling button */
.display-down {
  grid-column: 5/9;
  padding-block: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

/* Styling for Next Step - Button */
.btn-next {
  /* grid-column: 5/9; */
  background-color: var(--clr-Marine-blue);
  color: var(--Alabaster);
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

/* Styling for Go Back - Button */
.btn-prev {
  background-color: transparent;
  color: var(--Cool-gray);
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  font-family: var(--font-family-default);
  font-size: 1rem;
  font-weight: var(--font-wght-medium);
  padding-left: 2rem;
}

/* For Desktop Screens */
@media screen and (min-width: 1440px) {
}
